body {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Alfredo {
    background-color: lightblue;
    color: black;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8px;
    padding: 8px;
}

.Pizza {
    background-color: lightblue;
    color: black;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8px;
    padding: 8px;
}

.Sandwhich {
    background-color: lightblue;
    color: black;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8px;
    padding: 8px;
}
